@model IEnumerable<CarERPv2.Models.Request>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Vehicle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cost)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.items)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.service)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customer.FirstNameMI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.items.ItemID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.service.ServicesID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RequestID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RequestID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RequestID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
